



<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><h3>Kiosk &amp; Kibanda</h3></th>
        <th></th>
        <th class="text-right">
          Season just gets better
        
        </th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <div class="row section-gallery">
    <div class="col-md-8" *ngFor="let p of products">
      <div class="well  hoverwell thumbnail color-line-neutral-high" >
        <div class="table-responsive">

          <div class="col-md-24 entity-list">
            <div class="entity-list-item">
              <div class="item-icon" *ngFor="let photo of p.photos">
                <img src="/photoUploads/{{ photo.photoFileName }}" alt="{{ photo.photoFileName }}" />
              </div>
              <div class="item-content-secondary">
                {{ p.sell.unitPrice  | currency : 'KES'}}
              </div>
              <div class="item-content-primary">
                <div class="content-text-primary">{{p.info.productName }}</div>
                <div class="content-text-secondary"><small>{{ p.info.productDescription }}</small></div>
              </div>
            </div>
          </div>



          <table class="table table-striped">
            
            <tbody>

              <tr>
                <td><a [routerLink]="['/product/', p.id]">View details</a></td>
                <td></td>
                <td class="text-right">
                  <app-addtocart [productId]="p.id"></app-addtocart>
                 
                </td>
              </tr>
         


            </tbody>
          </table>
         
        




        </div>
      </div>

    </div>
  



  </div>


</div>



