

<section class="section" id="grid-small-gutters">
  <div class="row row-sm section-gallery">
    <div class="col-md-12">

      <img height="500" style="margin: 0.5px" src="../assets/Images/6.jpg" alt="bunkslogo">
    </div>
    <div class="col-md-12">
      <img height="500" style="margin: 0.5px" src="../assets/Images/About.jpg" alt="bunkslogo">
    </div>
  </div>
</section>









<div class="container m-t-xs">
  <div class="row">
    <h1 class="type-h1">
      The Republic of Congo seeks to invite visitors with diverse
      backgrounds and talents that will make a positive contribution to the Country
    </h1>
    <h1 class="type-h3 color-type-accent">Below are the steps to apply for a VISA</h1>
    <div class="col-md-12">





      <ol class="list-items">
        <li class="list-items-row">
          <div>
            <div class="row">
              <div class="col-md-24 type-p4">

                1.
                Sign up fo a free account
                <a [routerLink]='["/signup"]' class="color-type-secondary">Click here to register</a>


              </div>

            </div>
          </div>



        </li>
        <li class="list-items-row">
          <div>
            <div class="row">
              <div class="col-md-24 type-p4">

                2.
                Submit your application



              </div>

            </div>
          </div>


        </li>
        <li class="list-items-row">

          <div class="row">
            <div class="col-md-24 ">


              <i class="glyph glyph-location "></i>
              Arrange a visit for the applicant
              <span class="typ-p6 color-type-secondary">162, WHISPERS AVENUE, GIGIRI</span>


            </div>

          </div>



        </li>
        <li class="list-items-row">

          <div class="row">
            <div class="col-md-24 ">


              <i class="glyph glyph-sync "></i>
              Complete Application(online preffered)
              <span class="typ-p6 color-type-secondary">Screening &amp; Approval</span>


            </div>

          </div>



        </li>
        <li class="list-items-row">

          <div class="row">
            <div class="col-md-24 ">


              <i class="glyph glyph-send"></i>
              We schedule date for collection
              <span class="typ-p6 color-type-secondary">Passport &amp; Documentation</span>


            </div>

          </div>



        </li>
      </ol>



    </div>


    <div class="col-md-12">






      <div class="table-responsive">

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Category</th>
              <th>Description</th>
              <th class="text-center">Download List</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Visa Requirements</td>
              <td>Tourist Visa </td>
              <td class="text-center"><i class="glyph glyph-download"></i></td>

            </tr>
            <tr>
              <td>Visa Requirements</td>
              <td>Business Visa</td>
              <td class="text-center"><i class="glyph glyph-download"></i></td>

            </tr>
            <tr>
              <td>Dance</td>
              <td>For dance students only.</td>
              <td class="text-center"><i class="glyph glyph-download"></i></td>

            </tr>
            <tr>
              <td>Horse Riding</td>
              <td>For Horse riding students only</td>
              <td class="text-center"><i class="glyph glyph-download"></i></td>

            </tr>

          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <h1></h1>
  </div>
</div>


<app-visits-component></app-visits-component>


<div class="jumbotron theme-light">
  <div class="container">
    <div class="row">

      <div class="col-md-24 text-center">


        <h3>
          Schedule a classroom visit. Your child will spend the day shadowing one of our current students in kindergarten through eleventh grade. He or she will attend classes, enjoy lunch, and get to know our students.
        </h3>




      </div>
    </div>
  </div>
</div>





<app-inquire-component></app-inquire-component>






