


<div class="jumbotron theme-light">
  <div class="container">
    <div class="row">

      <div class="col-md-24 text-center">


        <h3>
          Have you wondered what it’s like here at Bunks and Biddles school?<br />
          <span class="color-type-secondary">
            Parents, we welcome you to come see our school in action and tour our campus. There’s no substitute for seeing first-hand how our invested teachers engage our students. We can’t wait to show you around!

          </span>

          How can students tell if our school is the right fit for them?

        </h3>




      </div>
    </div>
  </div>
</div>















<div class="container m-t-xs">
  <div class="row">
    <h1 class="type-h1">You can visit</h1>
    <h1 class="type-h3 color-type-accent">That's why we invite you to learn about our school</h1>
    <br />
    <form>
      <div class="col-md-12">


        <div class="row row-sm">
          <div class="col-md-12">
            <div class="putbox">
              <div class="putbox-icon">
                <span class="glyph glyph-clock"></span>
              </div>
              <div class="putbox-content">
                <div class="content-title">Time Expected:</div>

                <input type="text" class="form-control" placeholder="8:45 am - 9:30 pm" />

              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="putbox">

              <div class="putbox-content">
                <div class="datepicker-container ">
                  <div class="content-title">Date of Entry:</div>
                 
                </div>
              </div>
            </div>



          </div>

          <div class="col-md-12">

            <div class="putbox">
              <div class="putbox-icon">
                <span class="glyph glyph-location"></span>
              </div>
              <div class="putbox-content">
                <div class="form-group">
                  <label class="color-type-primary" for="location">Where :</label>
                  <select id="location" name="location" class="form-control">
                    <option value="">Location is blank :(-</option>
                    <option value=""> Karen </option>
                    <option value=""> Lavington </option>

                  </select>

                </div>
              </div>
            </div>


          </div>


          <div class="col-md-12">
            <div class="putbox">
              <div class="putbox-icon">
                <span class="glyph glyph-people"></span>
              </div>
              <div class="putbox-content">
                <div class="content-title">Guest :</div>

                <div class="form-group">
                  <label class="color-type-primary" for="location"></label>
                  <select id="location" name="location" class="form-control">
                    <option value="">Guest No is blank :(-</option>
                    <option value=""> 1 </option>
                    <option value=""> 2 </option>
                    <option value=""> 3 </option>
                    <option value=""> 4 </option>
                    <option value=""> 5 </option>
                    <option value=""> 6 </option>
                    <option value=""> 7 </option>


                  </select>

                </div>

              </div>
            </div>
          </div>


        </div>








      </div>
      <div class="col-md-12">

        <div class="form-group">
          <label for="parentName">Name</label>
          <input type="text" class="form-control" id="parentName" placeholder="Parent/Guardian Name">
        </div>
        <div class="form-group">
          <label for="phone">Phone </label>
          <input type="text" class="form-control" id="phone" placeholder="Phone No">
        </div>

        <div class="putbox">

          <div class="putbox-icon">
            <span class="glyph glyph-mail"></span>
          </div>
          <div class="putbox-content">
            <div class="content-title">Email:</div>

            <input type="email" class="form-control" value="me@company" />

          </div>
        </div>



      </div>

    </form>
  </div>
</div>

<div class="container">
  <div class="row">
    <h1></h1>
  </div>
</div>

















































