
  <p></p>


<nav class="navbar navbar-default alert-stack">
  <div class="navbar-global theme-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <i class="glyph glyph-hamburger"></i>
        </button>

        <a class="navbar-brand" [routerLink]='["/"]'>JeSuisCatho</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">

          <li>
            <a *ngIf="!profile.isLoggedIn" [routerLinkActive]='["link-active"]'
               [routerLink]='["/signin"]'> Sign in</a>
          </li>
          <li>
            <a *ngIf="!profile.isLoggedIn" [routerLinkActive]='["link-active"]'
               [routerLink]='["/signup"]'>Register</a>
            <ng-container *ngIf="profile.isLoggedIn">

              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{profile.name}} <i class="glyph glyph-chevron-down-2"></i></a>
              <ul class="dropdown-menu">
                <li><a [routerLink]='["/myorders"]'>My Orders</a></li>
                <li><a (click)=signOut()>Sign out</a></li>

              </ul>

            </ng-container>
          </li>
          <li>
            <app-button-cart></app-button-cart>
          </li>

        </ul>
      
      </div>
    </div>
  </div>

</nav>







