
  <div class="container">
    <div class="row">


      <div class="col-md-8  text-center">
        <h5></h5>
        <img class="img-responsive visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block visible-xl-inline-block" alt="" src="../assets/Images/dennis.jpg" data-source-index="2">
      </div>
      <div class="col-md-8 ">
        <div class="type-h3">
          Welcome to the Embassy of the Republic of Congo to Kenya, in Nairobi
        </div>

        <p> We Invite you to discover a wealth of information on the Republic of Congo, a country of rich cultural diversity with unlimited opportunities in trade, investement, human capital and tourism </p>
        <div class="btn-group">

          <button class="btn btn-primary" href="#">Read more</button>
        </div>
      </div>
      <div class="col-md-8">
        <p></p>
        <div class="entity-list">
          <div class="entity-list-item">
            <div class="item-icon">
              <span class="glyph glyph-mail"></span>
            </div>
            <div class="item-content-secondary">

            </div>
            <div class="item-content-primary">
              <div class="content-text-primary">The President</div>
              <div class="content-text-secondary">Commander in Chief</div>
            </div>
          </div>
          <div class="entity-list-item">
            <div class="item-icon">
              <span class="glyph glyph-contact"></span>
            </div>
            <div class="item-content-secondary">

            </div>
            <div class="item-content-primary">
              <div class="content-text-primary">The Ambassador</div>
              <div class="content-text-secondary">Nairobi, Kenya</div>
            </div>
          </div>
          <div class="entity-list-item">
            <div class="item-icon">
              <span class="glyph glyph-report-hacked"></span>
            </div>
            <div class="item-content-secondary">

            </div>
            <div class="item-content-primary">
              <div class="content-text-primary">VISA</div>
              <div class="content-text-secondary">Apply Here</div>
            </div>
          </div>
          <div class="entity-list-item">
            <div class="item-icon">
              <span class="glyph glyph-mail"></span>
            </div>
            <div class="item-content-primary">
              <div class="content-text-primary">Passport</div>
              <div class="content-text-secondary">Instructions on renewal</div>

            </div>
          </div>

        </div>
        <h5></h5>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                CONTACT US
              </mat-panel-title>
              <mat-panel-description>
                Phone, Email &amp; Address
              </mat-panel-description>
            </mat-expansion-panel-header>

            <p>.......</p>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                USEFUL INFORMATION
              </mat-panel-title>
              <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
  <p></p>
  <div class="jumbotron theme-light">
    <div class="container">
      <div class="row">

        <div class="col-md-24 text-center">
          <h1></h1>

          <h3>
            At BBS, we know that students succeed in life when they are fully prepared

          </h3>




        </div>
      </div>
    </div>
  </div>

