

  <mat-toolbar   color="secondary" >
    <mat-toolbar-row>
      <span [routerLink]='["/"]'>JeSuisCatholique </span>
     


      <span class="fill-remaining-space"> </span>
      <span>


      </span>
      <div class="btn-group">
        <button mat-button class="btn btn-default" [routerLink]='["/signup"]'>Join now</button>
        <button  type="button" [routerLink]='["/signin"]' autocomplete="off" class="btn btn-default" data-toggle="button" aria-pressed="false">Sign In</button>
      </div>
    </mat-toolbar-row>


  </mat-toolbar>












