

.add-product {
  visibility: hidden;
  width: 48px;
  height: 48px;
  padding: 10px 12px 12px;
  opacity: 0;
  -webkit-transform: translate(0, 24px);
  -ms-transform: translate(0, 24px);
  -o-transform: translate(0, 24px);
  transform: translate(0, 24px);
  -webkit-transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -o-transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  background: rgba(5, 72, 180, 1.0);
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  color: #fff;
}

  .add-product.affix {
    visibility: visible;
    opacity: 1;
    z-index: 1030;
    left: 24px;
    top: 120px;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .add-product [class*="glyph-"] {
    font-size: 24px;
  }

  .add-product, .add-product:focus {
    color: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.1);
  }

    .add-product:hover {
      color: rgba(5, 72, 180, 1.0);
      background: rgba(255, 255, 255, 0.3);
    }

    .add-product.theme-alt, .add-product.theme-alt:focus {
      color: rgba(255, 255, 255, 0.6);
      background: rgba(255, 255, 255, 0.1);
    }

      .add-product.theme-alt:hover {
        color: #FFFFFF;
        background: rgba(255, 255, 255, 0.3);
      }

.hidden {
  display: none !important;
}


@media (max-width: 767px) {

  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */





  .body-content {
    padding-top: 50px;
  }
}






.jeshiBlue {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background: rgba(5, 72, 180, 0.66);
  color: #fff;
}




.bunksgrey {
  background: #1A1A1A;
  color: #fff;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(26, 26, 26, 0.31);
}

.color-bunks {
  color: #DB2128;
}

.bunksmenu:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



.bar {
  position: relative;
  z-index: 80;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.75em 2.5em;
  text-align: left;
  background: #1A1A1A;
  color: #fff;
  -webkit-transform: translate3d(0, 0, 0);
  /* Fix for Chrome flicker on Mac ...party like we're in 2012! */
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}




.social {
  display: inline-block;
  line-height: 2.4em;
  margin-left: 1em;
  float: right;
}

  .social a {
    display: inline-block;
    color: #1a1a1a;
    margin: 0 0.5em;
    text-decoration: none;
  }

    .social a:hover,
    .social a:focus,
    .social a.current {
      color: #fff;
    }



