
<div class="jumbotron theme-alt color-banner">


  <div class="row section-gallery">
  <div class="col-md-24 ">


        <div class="col-md-3">


        </div>
        <div class="col-md-18 well  hoverwell">

          <form #f="ngForm" (ngSubmit)="submitCredentials()" novalidate id="add-credentials-form" action="">


            <div class="col-md-16">



              <span class="input input--yoshiko">
                <input name="email" id="email" [(ngModel)]="account.email" class="input__field input__field--yoshiko" type="email" />
                <label class="input__label input__label--yoshiko" for="input-14">
                  <span class="input__label-content input__label-content--yoshiko" data-content="Email Address">Email</span>
                </label>
              </span>









              <span class="input input--yoshiko">
                <input name="password" id="password" [(ngModel)]="account.password" class="input__field input__field--yoshiko" type="password" />
                <label class="input__label input__label--yoshiko" for="input-15">
                  <span class="input__label-content input__label-content--yoshiko" data-content="Password">Password</span>
                </label>
              </span>




              <button style="width:250px;" type="submit" class="btn btn-block btn-primary theme-alt color-11 ">Sign IN</button>


              <p class="color-type-secondary "> Not Registered? <a class="label label-danger" [routerLink]='["/signup"]'>Register</a></p>





            </div>

            <div class="col-md-8 well hoverwell ">
              <h5>Sign In</h5>
              <hr />
              <p>WE promise to bring in third party login</p>
              {{ account | json }}
            </div>


          </form>
        </div>

        <div class="col-md-3 "> </div>



    </div>

    </div>




</div>
