











<div class="container m-t-xs">
  <div class="row">
    <h1 class="type-h1">Title</h1>

    <div class="col-md-10">
      <h1 class="type-h3 color-type-accent">Subtitle to be a lengthy paragraph</h1>
      <p class="type-p1">
        Our Bible centered educational experience integrates opportunities to explore a variety of
        interests while developing a strong Christian and academic foundation.
        Each child enjoys a balanced experience that sets him or her on a path to life-long learning.
        <br /><br />
        We invite you, your child, and your family to visit our campus in Karen and Lavington so you can
        get to know us and discover the true advantage of the Bunks and Biddles experience.
        <br /><br />
        The best way to get to know us is to take a tour. Schedule a visit or call us at 0722 344 127 today.
        We look forward to meeting you!
      </p>
    </div>
    <div class="col-md-14">
      <h5>More News &amp; Anouncements</h5>
    <app-news-component></app-news-component>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <h1></h1>
  </div>
</div>

<div class="jumbotron theme-light">
  <div class="container">
    <div class="row">

      <div class="col-md-24 text-center">
        <h1>About H.E. Jean Pierre OSSEY</h1>

        <h3>
          At BBS, we know that students succeed in life when they are fully prepared
          for the opportunities and challenges ahead.
          That’s why Bunks education provides a balanced experience that focuses on academics
          that enrich and interest that engage.
          With small classes, invested teachers and a collaborative community, your child benefits from a supportive and inspiring
          educational experience. At Bunks and Biddles school, learning is constant time is the variable.
        </h3>




      </div>
    </div>
  </div>
</div>
















